body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    max-width: 500px;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
    color: #333;
}

input[type="text"], input[type="password"], button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

#timeTrackingContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-direction: column;
}

#clockInBtn, #clockOutBtn {
    width: 150px;
    margin: 10px;
}

#totalHours {
    margin-top: 20px;
    font-size: 18px;
}

#fotoBtn{
    width: 100%;
}